*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

.modal {
  display: flex;
  justify-content: center;
  align-items: center; }
  .modal .modal1 {
    width: 80vw;
    height: 50vh;
    margin: 1rem;
    border-radius: 2rem 2rem 0 0;
    font-size: 2rem;
    z-index: 1; }
    .modal .modal1__btn {
      font-size: 2rem;
      background-color: red;
      z-index: 10;
      border-radius: 2rem 2rem 0 0; }
    .modal .modal1__text {
      height: 50vh;
      width: 20vw;
      z-index: 2;
      border-radius: 0 0 2rem 2rem; }
  .modal .modal2 {
    width: 80vw;
    height: 50vh;
    margin: 1rem;
    border-radius: 2rem 2rem 0 0;
    font-size: 2rem;
    z-index: 1; }
    .modal .modal2__text {
      height: 50vh;
      width: 20vw;
      z-index: 2;
      border-radius: 0 0 2rem 2rem; }
  .modal .modal3 {
    width: 80vw;
    height: 50vh;
    margin: 1rem;
    border-radius: 2rem 2rem 0 0;
    font-size: 2rem;
    z-index: 1; }
    .modal .modal3__text {
      height: 50vh;
      width: 20vw;
      z-index: 2;
      border-radius: 0 0 2rem 2rem; }

.hidden {
  height: 0;
  opacity: 0; }
