@import "./abstract/variables";
@import "./layout/portfolio_header";
@import "./layout/portfolio_section_1";
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  display: flex;
  flex-direction: column;
  background: url(../img/pic10doc.png) no-repeat;
  background-size: cover;
  font-family: "Raleway", Arial, sans-serif;
  line-height: 1.5;
  font-size: 1rem;
}
main {
  display: flex;
  flex-direction: column;
}
