//*************About*****************
.about {
  width: 90vw;
  height: 100vh;
  margin: auto;
  display: grid;
  grid-template-rows: 90vh;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  .intro__title {
    height: auto;
    width: 45vw;
    grid-row: auto;
    grid-column: 1/2;
    .title__header {
      padding-bottom: 3rem;
    }
    .title__contain {
      .highlight {
        position: relative;
      }
      .highlight::after {
        display: block;
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
        opacity: 0.7;
        transform: scale(1.07, 1.05) skewX(-20deg);
        background-image: linear-gradient(to top, #181e77, #ffffff);
      }
    }
  }
  .intro__avt {
    padding: 2rem;
    width: 45vw;
    grid-row: auto;
    grid-column: 2/3;
    picture {
      margin: auto;
      width: 50%;
      display: flex;
      position: relative;
      &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: rgba(108, 110, 218, 0.1);
        top: 24%;
        left: 18%;
      }
      &::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: rgba(7, 7, 15, 0.4);
        bottom: 24%;
        right: 20%;
      }
      .avt__img {
        z-index: 10;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        max-height: auto;
      }
    }
  }
}
.title__contain--btn {
  padding: 0.5rem;
  background-color: transparent;
  color: $textcolor;
  cursor: pointer;
  font-size: 2rem;
  border-radius: 1rem;
}
.title__contain--dots {
  letter-spacing: 0.5rem;
}
//responsive
@include desktopFirst($sm) {
  .about {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    .intro__title {
      width: 80vw;
      padding: 0;
      .title__header {
        text-align: center;
      }
      .title__contain {
        line-height: 2;
      }
    }
    .intro__avt {
      width: 100vw;
      height: auto;
      picture {
        &::before {
          top: 0;
          left: 0;
        }
        &::after {
          top: 0;
          right: 0;
        }
      }
    }
  }
}
//*************Skill*****************
.skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 90vw;
  margin: auto;
  .skill__btn {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    column-gap: 10rem;
    align-items: center;
    .btn {
      z-index: 10;
      font-size: 2rem;
      border: none;
      border-radius: 1rem;
      width: 30rem;
      height: 5rem;
      background-color: $textcolor;
      color: $textcolorbl;
      cursor: pointer;
    }
    span {
      font-weight: 700;
      margin-right: 1rem;
    }
  }
  .skill__description {
    background-color: rgba(0, 0, 0, 0.2);
    z-index: -1;
    padding: 5rem 7rem 6.5rem 7rem;
    .description {
      position: relative;
      text-align: start;
      display: none;
      span {
        padding-right: 1rem;
      }
    }
  }
  .tools {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .tools__title {
      margin-top: 5rem;
    }
    .tool__list {
      height: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      .tool {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 20rem;
        width: 20rem;
        img {
          max-width: 100%;
          max-height: 100%;
          margin: auto;
        }
      }
    }
  }
}
.progress--bar {
  height: 0.5rem;
  background-color: $textcolor;
  z-index: 100;
  animation: grow 10s linear infinite;
}
.skill__btn--active {
  transform: translateY(-50%);
}
.description--active {
  display: block !important;
}
//responsive
@include desktopFirst($sm) {
  .skill {
    align-items: center;
    .skill__title {
      text-align: center;
    }
    .skill__btn {
      width: 90%;
      column-gap: 0;
      justify-content: space-between;
      .btn {
        width: 22vw;
        span {
          display: none;
        }
      }
    }
    .tools {
      justify-content: center;
      .tools__title {
        margin-top: 10rem;
      }
      .tool__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        height: 50vh;
        .tool {
          width: 40%;
        }
      }
    }
  }
}
@include desktopFirst($lg) {
  .tools {
    height: 50vh;
    .tools__title {
      text-align: center;
    }
    .tool__list {
      margin-bottom: 10rem;
      .tool {
        height: 50%;
        width: 50%;
        padding: 4rem;
      }
    }
  }
}
//*************Project*****************
.projects {
  width: 90vw;
  height: 100vh;
  margin: auto;
  .projects__title {
    text-align: start;
  }
  .projects__list {
    display: flex;
    column-gap: 5vw;
    .project {
      position: relative;
      height: 80vh;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .project__text {
        .project__popup {
          color: blue;
          text-decoration: underline;
          cursor: pointer;
        }
      }

      .project1__modal {
        position: absolute;
        width: 50vw;
        height: auto;
        background-color: $textcolor;
        color: $textcolorbl;
        top: 20%;
        left: 47%;
        z-index: 2000;
        border-radius: 1rem;
        padding: 5rem;
        box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.5);
        .modal1__close {
          position: absolute;
          right: 1rem;
          top: 1rem;
          cursor: pointer;
          background-color: transparent;
          border: none;
        }
      }
      .project2__modal {
        position: absolute;
        width: 50vw;
        height: auto;
        background-color: white;
        color: $textcolorbl;
        top: 20%;
        right: 47%;
        z-index: 2000;
        border-radius: 1rem;
        padding: 5rem;
        box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.5);
        .modal2__close {
          position: absolute;
          right: 1rem;
          top: 1rem;
          cursor: pointer;
          background-color: transparent;
          border: none;
        }
      }
      .project__title {
        text-align: center;
      }
      .project__pic {
        width: 100%;
        height: 50vh;
      }
      h5 {
        margin-top: 2rem;
        padding: 2rem;
        font-size: 2rem;
        text-align: center;
      }
      .project__text {
        text-align: center;
      }
    }
  }
}
//responsive
@include desktopFirst($sm) {
  .projects {
    width: auto;
    height: auto;
    .projects__title {
      text-align: center;
    }
    .projects__list {
      display: flex;
      flex-direction: column;
      .project {
        height: 45vh;
        .project1__modal {
          height: auto;
          width: 80vw;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        .project2__modal {
          height: auto;
          width: 80vw;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        .project1__title {
          padding: 2rem;
        }
        .project2__title {
          margin-top: 5rem;
          padding: 2rem;
        }
        h5 {
          margin-top: 1rem;
          padding: 0;
        }
      }
    }
  }
}
@include desktopFirst($lg) {
  .projects {
    margin-top: 10rem;
    .projects__list {
      padding: 5rem;
    }
  }
}
//*************Contact*****************
.contact__form {
  position: relative;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $lightbgcolor;
  margin: auto;
  width: 30vw;
  padding: 5rem;
  .contact__error {
    z-index: 2000;
    padding: 1rem;
    font-size: 2rem;
    position: absolute;
    width: 50vw;
    top: 50%;
    left: 50%;
    background-color: rgb(131, 2, 2);
    transform: translate(-50%, -50%);
    .error__close {
      position: absolute;
      right: 1rem;
      top: 1rem;
      cursor: pointer;
      background-color: transparent;
      border: none;
    }
    .error__text {
      padding: 4rem;
    }
  }
  .contact__title {
    text-align: center;
    margin-bottom: 10rem;
  }
  .input__username {
    @include formSettingsXL;
  }
  .input__email {
    @include formSettingsXL;
  }
  .input__message {
    @include formSettingsXL;
  }
  .btn__form {
    margin-top: 5rem;
    padding: 2rem 5rem 2rem 5rem;
    border-radius: 1rem;
    cursor: pointer;
    background-color: $textcolor;
    &:hover {
      background-color: $lightbgcolor;
      color: $textcolor;
      box-shadow: $lightbgcolor;
    }
  }
}
.contact__links {
  width: 100vw;
  margin-top: 6rem;
  color: $bgcolor;
  height: 7vh;
  background-color: $textcolor;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  .contact__link {
    .facebook__link {
      cursor: pointer;
    }
    .github__link {
      cursor: pointer;
    }
    .phone__link {
      cursor: copy;
    }
    .email__link {
      cursor: copy;
    }
    .link {
      color: $bgcolor;
      text-decoration: none;
    }
  }
}

//responsive
@include desktopFirst($sm) {
  .contact__form {
    margin-top: 10vh;
    height: 90vh;
    width: 80vw;
    .contact__error {
      width: 80vw;
    }
    .input {
      width: 90%;
    }
  }
  .contact__links {
    display: flex;
    flex-direction: column;
    height: auto;

    align-items: flex-start;
    .contact__link {
      margin-left: 5vh;
    }
    // .facebook__link {

    // }
    // .github__link {

    // }
    // .phone__link {

    // }
    // .email__link {

    // }
  }
}
@include desktopFirst($lg) {
  .contact__form {
    margin-top: 10vh;
    .contact__title {
      font-size: 3rem;
      margin-bottom: 0;
    }
  }
}
//ultility class
.hidden {
  display: none;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $overlaycolor;
  backdrop-filter: blur(3px);
  z-index: 1000;
}
