main {
  display: flex;
  flex-direction: column;
}

.intro {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 75vh;
  align-items: center;

  &__title {
    display: flex;
    align-items: flex-start;
    font-size: 2rem;
    color: $textcolor;
    height: 4vh;
  }

  &__avt {
    width: auto;

    #avt {
      max-width: 100%;
      max-height: 100%;
    }
  }

  &__content {
    color: $textcolor;
    font-size: 1.5rem;
    margin: 1rem;

    .content__title {
      text-align: center;
      font-size: 2rem;
    }

    .content__info {
      display: flex;
      flex-direction: column;
    }
  }
}
.service {
  width: 100vw;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  bottom: 0;

  .service__title {
    height: 5vh;
    font-size: 2rem;
    color: white;
  }
  .service__primary {
    margin: 0 1rem 0 1rem;
    width: 100vw;
    height: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    .service__design {
      @include serviceFormat;
    }
    .service__dev {
      @include serviceFormat;
    }
    .service__mobile {
      @include serviceFormat;
    }
  }
}
.service__name {
  text-align: center;
}
.service__explain {
  text-align: center;
}
