header {
  display: flex;
  flex-direction: row;
  width: 100vw;
}
.logo {
  width: 100vw;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  z-index: 1;
}
.logo__text {
  color: $textcolor;
  font-size: 2rem;
}
.dropdown {
  display: flex;
  flex-direction: column;
  z-index: 1000;
  .nav__icon {
    z-index: 10;
    position: fixed;
    right: 1rem;
    &:hover {
      cursor: pointer;
    }
  }
  .navigation {
    position: fixed;
    top: 50%;
    left: 50%;
    .nav__list {
      height: 100vh;
      width: 100vw;
      background-image: radial-gradient($skyblue, $skyblue-light);
      z-index: 5;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transition: all 0.2s;
    }
  }
  .nav {
    text-decoration: none;
    font-size: 5rem;
    color: $textcolor;
  }
  li {
    list-style: none;
  }
}
.hidden {
  display: none;
}
