main {
  display: flex;
  flex-direction: column;
}
.intro {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 75vh;
  align-items: center;
  position: relative;
  &__title {
    display: flex;
    align-items: flex-start;
    font-size: 2rem;
    color: $textcolor;
    height: 4vh;
  }
  &__avt {
    width: auto;
    #avt {
      object-fit: cover;
      max-width: 100%;
      max-height: 100%;
    }
  }
  &__content {
    color: $textcolor;
    font-size: 1.5rem;
    margin: 1rem;
    .content__title {
      text-align: center;
      font-size: 2rem;
    }
    .content__info {
      display: flex;
      flex-direction: column;
    }
    .btn__more {
      cursor: pointer;
    }
    #more {
      display: none;
    }
  }
}
.skill {
  width: 100vw;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .skill__title {
    height: 5vh;
    font-size: 2rem;
    color: white;
  }
  .skill__primary {
    width: 100vw;
    height: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    .skill__design {
      @include skill;
    }
    .skill__dev {
      @include skill;
    }
    .skill__mobile {
      @include skill;
    }
  }
}
.skill__name {
  text-align: center;
}
.skill__explain {
  text-align: center;
}
