header {
  z-index: 100;
  background-color: $bgColorHalf;
  color: $textcolor;
  top: 0;
  position: sticky;
  height: 5vh;
  margin: auto;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  transition-duration: 0.5s ease-in;
  .logo {
    display: flex;
    margin: auto;
    grid-row: 1/2;
    grid-column: 1/2;
    .logo__container {
      width: 25vw;
      flex: 1;
      text-align: center;
      .logo__player {
        backface-visibility: hidden;
        transition: transform 0.3s ease-in;
      }
      .player--previous {
        backface-visibility: hidden;
        cursor: pointer;
        margin-right: 2rem;
        margin-bottom: 1rem;
      }
      .player--next {
        backface-visibility: hidden;
        cursor: pointer;
        margin-left: 2rem;
        margin-bottom: 1rem;
      }
      .player--deactive {
        transform: rotate(30deg) translate(30%);
      }
      .logo__text {
        color: $textcolor;
        text-decoration: none;
        font-weight: 700;
      }
    }
    .music__player {
      width: 25vw;
      text-align: center;
      flex: 1.5;
    }
  }
  .nav__icon {
    display: none;
  }
  .nav__links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    transition-duration: 0.5s;
    .nav__link {
      text-decoration: none;
      color: $textcolor;
    }
  }
}
@include desktopFirst($sm) {
  header {
    display: flex;
    .logo {
      .logo__container {
        flex: 1;
        width: 50vw;
      }
      .music__player {
        flex: 1;
      }
    }
    #menu {
      margin-right: 2rem;
      justify-self: flex-end;
      display: block;
      position: relative;
      transition: 0.2s ease-in;
      cursor: pointer;
      z-index: 201;
    }
    .nav__links {
      width: 40vw;
      height: 0;
      flex-direction: column;
      top: 5vh;
      right: 0;
      transform-origin: top;
      position: absolute;
      background-color: $bgColorHalf;
      overflow-y: hidden;
      .nav__link {
        padding: 2rem;
      }
    }
  }
}
header {
  .active {
    justify-content: space-evenly;
    height: 40vh;
  }
}
.logo--hidden {
  visibility: hidden !important;
}
