@mixin mobileFirst($breakpoint) {
  @media screen and (min-width: $breakpoint) {
    @content;
  }
}
@mixin desktopFirst($breakpoint) {
  @media screen and (max-width: $breakpoint) {
    @content;
  }
}
@mixin formSettingsXL {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  width: 25vw;
  text-align: start;
  input {
    height: 3rem;
  }
}
// @mixin respond($breakpoint) {
//   @if $breakpoint == md {
//     @media screen and (min-width: $md) {
//       @content;
//     }
//   }
//   @if $breakpoint == lg {
//     @media screen and (min-width: $lg) {
//       @content;
//     }
//   }
//   @if $breakpoint == xl {
//     @media screen and (min-width: $xl) {
//       @content;
//     }
//   }
//   @if $breakpoint == xxl {
//     @media screen and (min-width: $xxl) {
//       @content;
//     }
//   }
// }
