$sm: 576px;
$md: 768px;
$lg: 1024px;
$xl: 1200px;
$xxl: 1400px;
$lightbgcolor: rgba(0, 0, 0, 0.2);
$bgcolor: rgb(23, 25, 51);
$overlaycolor: #a0c4ff1e;
$textcolor: white;
$loadercolor: radial-gradient(
  circle 248px at center,
  #16d9e3 0%,
  #30c7ec 47%,
  #46aef7 100%
);
