$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
$skyblue-light: #9bf6ff;
$skyblue: #a0c4ff;
$textcolor: white;
$navcolor: linear-gradient(145deg, #397ae7, #90e5ed);
$loadercolor: radial-gradient(
  circle 248px at center,
  #16d9e3 0%,
  #30c7ec 47%,
  #46aef7 100%
);
