*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
@mixin respond($breakpoint) {
  @if $breakpoint == md {
    @media screen and (min-width: $md) {
      @content;
    }
  }
  @if $breakpoint == lg {
    @media screen and (min-width: $lg) {
      @content;
    }
  }
  @if $breakpoint == xl {
    @media screen and (min-width: $xl) {
      @content;
    }
  }
  @if $breakpoint == xxl {
    @media screen and (min-width: $xxl) {
      @content;
    }
  }
}
