@import "sass/abstract/_variables.scss";
@import "sass/abstract/_mixin.scss";
@import "sass/components/_landing_loader";
@import "sass/base/_base";
@import "sass/base/_landing_animation";
@import "sass/components/_landing_btn";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Raleway", Arial, sans-serif;
  line-height: 1.5;
  font-size: 1rem;
}
.title {
  font-size: 3rem;
  font-weight: 200;
  letter-spacing: 1rem;
  animation-name: moveDown;
  animation-duration: 1s;
  text-transform: uppercase;
  text-align: center;
  &--small {
    font-size: 1.5rem;
    text-align: center;
  }
}

.container {
  height: 100vh;
  width: 100vw;
  position: relative;
  background-color: $bgcolor;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  // animation: shake 2s linear;
  animation-direction: alternate;
  color: white;
  .title-wrapper {
    animation-name: appear;
    transition-duration: 1s;
    background-color: none;
    padding: 3rem 1rem 3rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: $sm) {
  html {
    font-size: 65%;
  }
}
@include mobileFirst($md) {
  html {
    font-size: 80%;
  }
  .container {
    .title-wrapper {
      padding: 3rem;
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
}
@include mobileFirst($lg) {
  html {
    font-size: 100%;
  }
}
@include mobileFirst($xl) {
  html {
    font-size: 120%;
  }
  .title {
    font-weight: 300;
  }
  @include mobileFirst($xxl) {
    html {
      font-size: 140%;
    }
    .title {
      font-weight: 400;
    }
  }
}
// .container {
//   background-image: url(../../img/pic10doc.png);
// }
// @media screen and (min-width: $md) {
//   .container {
//     background-image: url(../../img/pic10doc.png);
//   }
//   .title {
//     font-size: 6rem;
//     font-weight: 300;
//     letter-spacing: 1.5rem;
//   }
//   h3.title--small {
//     font-size: 3rem;
//     text-align: center;
//     font-weight: 200;
//     letter-spacing: 1.7rem;
//   }
//   .btn--blue {
//     font-size: 2rem;
//     border-radius: 5rem;
//   }
// }
// @media screen and (min-width: $lg) {
//   .container {
//     background-image: url(../../img/pic10doc.png);
//   }
//   .title {
//     font-size: 8rem;
//     font-weight: 300;
//     letter-spacing: 1.5rem;
//   }
//   h3.title--small {
//     font-size: 4rem;
//     text-align: center;
//     font-weight: 200;
//     letter-spacing: 2rem;
//   }
//   .btn--blue {
//     font-size: 2.5rem;
//     border-radius: 5rem;
//   }
// }
// @media screen and (min-width: $xl) {
//   .container {
//     background-image: url(../../img/pic10.jpg);
//   }
//   .title {
//     font-size: 10rem;
//     font-weight: 400;
//     letter-spacing: 2rem;
//   }
//   h3.title--small {
//     font-size: 6rem;
//     text-align: center;
//     font-weight: 200;
//   }
//   .btn--blue {
//     font-size: 3rem;
//     border-radius: 5rem;
//   }
//
