@import "sass/base/_base";
@import "sass/abstract/_variables";
@import "sass/abstract/_mixin";
@import "sass/layout/_portfolio_header";
@import "sass/layout/_portfolio_main";
@import "sass/base/_portfolio_animation";
@include desktopFirst($lg) {
  html {
    font-size: 60%;
  }
}
@include desktopFirst($md) {
  html {
    font-size: 50%;
  }
}
@include desktopFirst($sm) {
  html {
    font-size: 40%;
  }
}

body {
  font-family: "Raleway", Arial, sans-serif;
  line-height: 1.5;
  font-size: 2rem;
  color: $textcolor;
  background-color: $bgcolor;
  overflow-x: hidden;
}
